<p id="notice"><%= notice %></p>


<div id="team_index">
<%divisions = Division.all%>

<h1 class="table_text">Equipos</h1>

<div class="tab">
<%default = true%>
<%clase = "tablinks defaultOpen"%>


<%divisions.each do |division|%>
<%a = "division"+ division.id.to_s + " tabcontent"%>

<button class="<%=clase%>" data-tab=<%=a%> ><%=division.name%></button>
<%if default%>
<%default = false%>
<%clase = "tablinks"%>

<%end%>
<%end%>
</div>

<% divisions.each do |division| %>

<%a = "division"+ division.id.to_s + " tabcontent"%>
<div class= "<%=a%>">

  <h2 class="table_text"><%= division.name %></h2>
    <table class= "tabla_teams">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Emblema</th>

        </tr>
      </thead>

      <tbody>
        <% division.teams.each do |team| %>
          <tr>
            <td><%= link_to team.name, team %></td>
            <td><%= image_tag team.logo.url(:thumb) %></td>
            <td>
              <%= link_to 'Ir a equipo', team, class: 'btn btn-primary' %>
              <% if is_admin_logged_in? %>
                <%= link_to 'Editar', edit_team_path(team), class: 'btn btn-primary' %>
                <%= link_to 'Eliminar', team, class: 'btn btn-primary', method: :delete,  data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
<% end %>

<br>

<% if is_admin_logged_in? %>
  <%= link_to 'Crear Equipo', new_team_path %>
<% end %>
</div>
