<p id="notice"><%= notice %></p>

<!--<%= image_tag @team.logo.url(:medium) %>-->

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @team.points %>
</p>

<p>
  <strong>Won:</strong>
  <%= @team.won %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @team.lost %>
</p>

<p>
  <strong>Tie:</strong>
  <%= @team.tie %>
</p>

<p><strong>Jugadores:</strong></p>
<% @team.users.each do |user| %>
  <p> - <%= user.full_name %></p>
<% end %>

<% captain = captain(@team)%>
<% if captain != nil %>
  <p><strong>Capitán:</strong></p>
  <p> - <%= captain.full_name %>
<% elsif is_admin_logged_in? %>
<p> Invitar a capitán: </p>
  <%= render 'invitation', team: @team, is_captain: true %>
<% end %>

<% if current_user_is_captain_of(@team) || is_admin_logged_in? %>
  <p> Invitar jugadores: </p>
  <%= render 'invitation', team: @team, is_captain: false %>
<% end %>

<p>
<% if is_admin_logged_in? %>
  <%= link_to 'Editar', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Atrás', teams_path %>
</p>
