<p id="notice"><%= notice %></p>

<!--<%= image_tag @team.logo.url(:medium) %>-->

<% @team.update_stats %>


<div class="team-info">

  <div class="basic">
    <h1><%= @team.name %></h1>
    <h3><%= @team.division.name %></h3>
    <% if is_admin_logged_in? %>
      <%= link_to 'Editar', edit_team_path(@team), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="box-wrapper">
    <div class="box">
      <h3>Puntos</h3>
      <h1><%= @team.points %></h1>
    </div>
    <div class="box">
      <h3>Ganados</h3>
      <h1><%= @team.won %></h1>
    </div>
    <div class="box">
      <h3>Perdidos</h3>
      <h1><%= @team.lost %></h1>
    </div>
    <div class="box">
      <h3>Empatados</h3>
      <h1><%= @team.tie %></h1>
    </div>
    <div class="box">
      <h3>Goles</h3>
      <h1><%= @team.gf %>:<%= @team.ga %></h1>
    </div>
  </div>
</div>


<% captain = captain(@team)%>

<table class="players">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Goles</th>
      <th>Amarillas</th>
      <th>Rojas</th>
    </tr>
  </thead>
  <tbody>
    <% for scorer in @team.users.sort { |b,a| a[:goals] <=> b[:goals] } %>
      <tr>
          <% if scorer != nil %>
            <% if scorer.is_captain? %>
              <td><%= link_to scorer.name, scorer %> (Capitán)</td>
            <% else %>
              <td><%= link_to scorer.name, scorer %></td>
            <% end %>
            <td><%=scorer.goals%></td>
            <td><%=scorer.yellow_cards%></td>
            <td><%=scorer.red_cards%></td>
          <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

<% if is_admin_logged_in? && !captain %>
  <h2> Invitar a capitán: </h2>
  <%= render 'invitation', team: @team, is_captain: true %>
<% end %>

<% if current_user_is_captain_of(@team) || is_admin_logged_in? %>
  <h2> Invitar jugadores: </h2>
  <%= render 'invitation', team: @team, is_captain: false %>
<% end %>

<div id="invalid-mails">
</div>
