<h1>Log in</h1>

<div class="login-content">
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="field">
      <%= f.label :email, class: 'name' %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="field">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>

  <% end %>

</div>
