<%playoffs = Tournament.all.where(playoff: true )%>

<% playoffs.each do |playoff| %>

<h2><%= playoff.name %></h2>

<% matches = playoff.matches %>

<div class="col-2 filled">
  <h3>Cuartos de final #1</h3>
	<h3><%= matches[0].home_team.name%>  v/s <%=matches[0].visit_team.name %></h3>
	<h3><%= matches[0].local_goals%> - <%=matches[0].visitor_goals %></h3>
	<%= link_to 'Ir al partido',matches[0] %>
</div>

<div class="col-2"></div>

<div class="col-2"></div>

<div class="col-2"></div>

<div class="col-2 filled">
  <h3>Cuartos de final #2</h3>
	<h3><%= matches[1].home_team.name%>  v/s <%=matches[1].visit_team.name %></h3>
	<h3><%= matches[1].local_goals%> - <%=matches[1].visitor_goals %></h3>
	<%= link_to 'Ir al partido',matches[1] %>
</div>

<div class="col-2"></div>

<div class="col-2 filled">
	<h3>Semifinal #1</h3>
	<% if matches[4].Datenum != -1 %>
		<h3><%= matches[4].home_team.name%>  v/s <%=matches[4].visit_team.name %></h3>
		<h3><%= matches[4].local_goals%> - <%=matches[4].visitor_goals %></h3>
		<%= link_to 'Ir al partido',matches[4] %>

	<% elsif matches[2].winner && matches[0].winner %>
	<h3><%= matches[2].winner.name %> v/s <%= matches[0].winner.name %> </h3>

	<% elsif matches[0].winner %>
		<h3><%= matches[0].winner.name %>ll</h3>
		<h3>Esperando rival</h3></h3>

	<% elsif matches[2].winner %>
		<h3><%= matches[2].winner.name %>ll</h3>
		<h3>Esperando rival</h3></h3>


	<% end %>
</div>

<div class="col-2 filled">
	<h3>Final</h3>
	<% if matches[6].Datenum != -1 %>
		<h3><%= matches[6].home_team.name%>  v/s <%=matches[6].visit_team.name %></h3>
		<h3><%= matches[6].local_goals%> - <%=matches[6].visitor_goals %></h3>
		<%= link_to 'Ir al partido',matches[6] %>
	<% else %>
		<h3>Partido por definir</h3>
	<% end %>

</div>

<div class="col-2 filled">
	<h3>Semifinal #2</h3>
	<% if matches[5].Datenum != -1 %>
		<h3><%= matches[5].home_team.name%>  v/s <%=matches[5].visit_team.name %></h3>
		<h3><%= matches[5].local_goals%> - <%=matches[5].visitor_goals %></h3>

		<%= link_to 'Ir al partido',matches[5] %>
	<% else %>
		<h3>Partido por definir</h3>
	<% end %>
</div>

<div class="col-2"></div>

<div class="col-2 filled">
  <h3>Cuartos de final #3</h3>
	<h3><%= matches[2].home_team.name%>  v/s <%=matches[2].visit_team.name %></h3>
	<h3><%= matches[2].local_goals%> - <%=matches[2].visitor_goals %></h3>
	<%= link_to 'Ir al partido',matches[2] %>

</div>

<div class="col-2"></div>



<div class="col-2"></div>
<div class="col-2"></div>

<div class="col-2 filled">
  <h3>Cuartos de final #4</h3>
	<h3><%= matches[3].home_team.name%>  v/s <%=matches[3].visit_team.name %></h3>
	<h3><%= matches[3].local_goals%> - <%=matches[3].visitor_goals %></h3>
	<%= link_to 'Ir al partido',matches[3] %>

</div>

  <%= submit_tag("Crear", class: 'btn-primary btn-playoffs') %>

	<% end %>
