<%playoffs = Tournament.all.where(playoff: true )%>


<div class="tab">
<%default = true%>
<%clase = "tablinks defaultOpen"%>
<%for i in playoffs%>
<%a = "playoff"+ i.id.to_s + " tabcontent"%>

<button class="<%=clase%>" data-tab=<%=a%> ><%=i.name%></button>
<%if default%>
<%default = false%>
<%clase = "tablinks"%>

<%end%>
<%end%>
</div>

<%for i in playoffs%>
<%teams = i.teams%>
<%a = "playoff"+ i.id.to_s + " tabcontent"%>
<main class= "<%=a%>" id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner"><%=teams[0].name%> <span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom "><%=teams[7].name%> <span>-</span></li>

		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner"><%=teams[1].name%><span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom "><%=teams[6].name%><span>-</span></li>

		<li class="spacer">&nbsp;</li>

		<li class="game game-top "><%=teams[4].name%><span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom winner"><%=teams[3].name%><span>-</span></li>

		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner"><%=teams[5].name%> <span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom "><%=teams[2].name%> <span>-</span></li>

		<li class="spacer">&nbsp;</li>


		<li class="spacer">&nbsp;</li>


		<li id="Sep-cuartos" class="game game-spacer">&nbsp;</li>


		<li class="spacer">&nbsp;</li>


		<li class="spacer">&nbsp;</li>

	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner">Semifinalista 1 <span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">Semifinalista 2 <span>-</span></li>

		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner">Semifinalista 3 <span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">Semifinalista 4 <span>-</span></li>


		<li id="Sep-semis" class="game game-spacer">&nbsp;</li>


		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner">Finalista 1 <span>-</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">Finalista 2 <span>-</span></li>

		<li id="Sep-final" class="game game-spacer">&nbsp;</li>

	</ul>
	<ul class="round round-4">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner">Campeón <span>-</span></li>
		<li id="Sep-winner" class="game game-spacer">&nbsp;</li>



	</ul>




</main>
<%for match in i.matches%>

    <div class="panel-match">
      <div class="date">
        <%= match.Datenum %>
        <%= match.date.day %>/<%= match.date.month %>/<%= match.date.year %>
        <%= match.time.hour%>:<%= match.time.min.to_s.rjust(2, '0')%> hrs
      </div>

      <div class="result">
        <%= Team.find_by_id(match.home_team_id).name %>
        <%= match.local_goals %>:<%= match.visitor_goals %>
        <%= Team.find_by_id(match.visit_team_id).name %>

        <div class="links">
          <%= link_to 'Ir al partido', match, class: 'btn btn-primary' %>
          <% if is_admin_logged_in? %>
            <%= link_to 'Editar', edit_match_path(match), class: 'btn btn-primary' %>
            <%= link_to 'Eliminar', match, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end  %>
        </div>
      </div>

  
  </div>
<%end%>
<%end%>
