<p id="notice"><%= notice %></p>

<% if logged_in? && current_user.is_captain? %>
  <h3>
    <strong>Capitán</strong>
  </h3>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Posición:</strong>
  <%= @user.position %>
</p>

<% if !is_admin_logged_in? %>
  <p>
    <strong>Equipo:</strong>
    <%= @user.team.name %> <%= link_to 'Ir a equipo', @user.team  %>
  </p>
<% end %>

<%= link_to 'Editar', edit_user_path(@user) %>
