<p id="notice"><%= notice %></p>

<% if logged_in? && current_user.is_captain? %>
  <h3>
    <strong>Capitán</strong>
  </h3>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Posición:</strong>
  <%= @user.position %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %>
