<p id="notice"><%= notice %></p>

<h1>Divisiones</h1>

<% @divisions.each do |division| %>

  <div class="panel-div">
      <div class="division-name">

        <h3><%= division.name %></h3>
      </div>
      <h4><%= division.description %></h4>
      <%= render 'team_list', division: division %>
      <div class="links">
        <%= link_to 'Torneos',division_tournaments_path(division), class: 'btn btn-primary' %>
        <% if is_admin_logged_in? %>
          <%= link_to 'Ir', division, class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_division_path(division), class: 'btn btn-primary' %>
          <%= link_to 'Eliminar', division, class: 'btn btn-primary', method: :delete,  data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
<% end %>

<br>
<div class="field">
  <% if is_admin_logged_in? %>
    <%= link_to 'Crear división', new_division_path %>
  <% end %>
</div>
