<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @division.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @division.description %>
</p>

<p><strong>Equipos:</strong></p>

<% @division.teams.each do |team| %>
<p><%= team.name %></p>
<% end %>


<p><strong>Equipos:</strong></p>
<% @division.teams.each do |team| %>
  <p><%= team.name %></p>
<% end %>

<!-- /divisions/:division_id/tournaments/ -->
<%= link_to 'Torneos', division_tournaments_path(@division) %> |
<% if is_admin_logged_in? %>
  <%= link_to 'Editar', edit_division_path(@division) %> |
<% end %>
<%= link_to 'Atrás', divisions_path %>
