<h1>Crear fixture</h1>

<%= form_tag({method: "post"}, {class: 'editmatch'}) do %>

<% numbers = [1,2,3,4,5,6,7] %>

<% numbers.each do |number| %>
  <table>
    <thead>
      <tr>
        <th>
          <h2>Jornada <%= number %></h2>
        </th>
      </tr>
    </thead>
    <tbody>
        <td>
          <%= label_tag(:"date#{number}", "Fecha") %>
        </td>
        <td>
          <%= date_select(:"date#{number}","Fecha#{number}", selected: Date.today) %>
        </td>
        <td>
          <%= label_tag(:"address#{number}", "Lugar")%>
        </td>
        <td>
          <%= text_field_tag(:"place#{number}", nil, placeholder: 'Nombre') %>
        </td>
        <td>
          <%= text_field_tag(:"address#{number}", nil, placeholder: 'Dirección') %>
        </td>
        <td>
          <%= text_field_tag(:"commune#{number}", nil, placeholder: 'Comuna') %>
        </td>
    </tbody>
  </table>
  <br />
<% end %>



<div class="field">
  <%= label_tag(:time1, "Hora1") %>
  <div class="selections">
    <%= time_select(:time1,"Hora1") %>
  </div>
</div>

<div class="field">
  <%= label_tag(:time2, "Hora2") %>
  <div class="selections">
    <%= time_select(:time2,"Hora2") %>
  </div>
</div>

<div class="field">
  <%= label_tag(:time3, "Hora3") %>
  <div class="selections">
    <%= time_select(:time3,"Hora3") %>
  </div>
</div>

<div class="field">
  <%= label_tag(:time4, "Hora4") %>
  <div class="selections">
    <%= time_select(:time4,"Hora4") %>
  </div>
</div>

<div class="field">
  <%= submit_tag("Crear", class: 'btn btn-primary') %>
</div>


<% end %>
