<h1>Torneos</h1>

<table>
  <tr>
    <th>Nombre del torneo</th>
    <th>Descripción</th>
    <th>Temporada</th>
    <th>División</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <% if !tournament.playoff %>
  <tr>
    <td><%= tournament.name %></td>
    <td><%= tournament.description %></td>
    <td><%= tournament.season %></td>

    <!-- /divisions/:division_id/tournaments/:id -->
    <td><%= link_to 'Ver', [tournament.division, tournament] %></td>
    <!-- /divisions/:division_id/tournaments/:id/edit -->
    <% if is_admin_logged_in? %>
      <td><%= link_to 'Editar', edit_division_tournament_path(tournament.division, tournament)%></td>
      <!-- /divisions/:division_id/tournaments/:id -->
      <td><%= link_to 'Borrar', [tournament.division, tournament], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
</table>

<br />

<% if is_admin_logged_in? %>
  <%= link_to 'Crear torneo', new_division_tournament_path %> <!-- /divisions/:division_id/tournaments/new -->
<% end %>
