<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tournament.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tournament.description %>
</p>

<p>
  <b>Season:</b>
  <%= @tournament.season %>
</p>

<%= form_for :teams_tournament, method: "post" do |f| %>
  <%= f.select :id, options_for_select(Team.all.map{ |c| [c.name, c.id] })  %>
  <%= f.submit "Agregar" %>
<% end %>

<!-- /divisions/:division_id/tournaments/:id/edit -->
<%= link_to 'Edit', edit_division_tournament_path(@tournament.division, @tournament) %> |
<!-- /divisions/:division_id/tournaments/ -->
<%= link_to 'Back', division_tournaments_path(@tournament.division) %>
