<div class="gallery_show">



<p id="notice"><%= notice %></p>


<%= image_tag @picture.image.url(:medium) %>

<p>
  <strong>Fecha:</strong>
  <%= @picture.date %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @picture.comment %>
</p>
<div class="show_image">

<% if is_admin_logged_in? %>
  <%= link_to 'Editar', edit_picture_path(@picture) ,class: 'edit-button'%>
  <%= link_to 'Volver', pictures_path,class: 'edit-button' %>
<% end %>


</div>

</div>
