<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home_team_id %>
    <%= f.select :home_team_id, options_for_select(Team.all.map{ |c| [c.name, c.id] })  %>
  </div>

  <div class="field">
    <%= f.label :visit_team_id %>
    <%= f.select :visit_team_id, options_for_select(Team.all.map{ |c| [c.name, c.id] })  %>

  </div>

  <div class="field">
    <%= f.label :tournament_id %>
    <%= f.select :tournament_id, options_for_select(Tournament.all.map{ |c| [c.name, c.id] })  %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
