<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this @match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_id, "Torneo" %>
    <div class="selections">
      <%= @match.tournament.name %>
      <% f.text_field :tournament_id,  value:@match.tournament_id, :readonly => true %>
    </div>
  </div>

  <div class="field">
    <%= f.label :date, "Fecha" %>
    <div class="selections">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="field">
    <%= f.label :time, "Hora" %>
    <div class="selections">
      <%= f.time_select :time %>
    </div>
  </div>

  <div class="field">
    <%= f.label :played, "Jugado" %>
    <div class="selections">
      <%= f.select :played, options_for_select([["Si", true], ["No", false]] )  %>
    </div>
</div>

  <h2>Equipo Local: </h2>
    <ul>
      <li>
        <% f.text_field :home_team_id,  value:@match.home_team_id, :readonly => true %>
        <%= @match.home_team.name %>
        <div class="field">
          <%= f.label :local_goals, "Goles " %>
            <div class="selections">
            <%= f.select :local_goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15].map{ |c| [c, c] }, selected: @match.local_goals)  %>
          </div>
        </div>
      </li>
    </ul>
  <hr>

  <h2>Equipo Visitante: </h2>
    <ul>
      <li>
        <% f.text_field :visit_team_id,  value:@match.visit_team_id, :readonly => true %>
        <%= @match.visit_team.name %>
        <div class="field">
          <%= f.label :visitor_goals, "Goles " %>
          <div class="selections">
            <%= f.select :visitor_goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15].map{ |c| [c, c] }, selected: @match.visitor_goals)  %>
          </div>
        </div>
      </li>
    </ul>
  <hr>
  <div class="selections">
    <%= f.submit "Actualizar partido", class: 'btn btn-primary' %>
  </div>
<% end %>

<% [['Equipo Local', @match.home_team],['Equipo Visitante', @match.visit_team]].each do |team| %>
  <h2><%= team[1].name %></h2>
  <table>
    <% team[1].users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.team.id %></td>
        <% if !user.matches.find_by_id(@match.id) %>
          <% @performance =Performance.new %>
        <% else %>
          <% @performance = user.performances.find_by(match_id: @match.id) %>
        <% end %>
        <%= render 'performances/form', performance: @performance, user: user, match: @match%>
      </tr>
    <% end %>
  </table>
<% end %>
