<%= form_for @match, :html => {:class => 'editmatch'}, remote: true do |f| %>
<% if @match.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@match.errors.count, "error") %>
        prohibited this @match from being saved:</h2>

    <ul>
        <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<table>
    <tr>
        <th>
            <%= f.label :tournament_id, "Torneo" %>
        </th>
        <th>
            <%= @match.tournament.name %>
            <% f.text_field :tournament_id,  value:@match.tournament_id, :readonly => true %>
        </th>
    </tr>
    <tr>
        <td>
            <%= f.label :date, "Fecha" %>
        </td>
        <td>
            <%= f.date_select :date %>
        </td>

        <td>
            <%= f.label :time, "Hora" %>
        </td>
        <td>
            <%= f.time_select :time %>
        </td>
        <td>
            <%= f.label :played, "Jugado" %>
        </td>
        <td>
            <%= f.select :played, options_for_select([["Si", true], ["No", false]] )  %>
        </td>
    </tr>
</table>
<br>
<table class="matchtable">
    <thead>
        <tr>
            <th>
                <h2>Equipo Local:</h2>
            </th>
            <th></th>
            <th>
                <h2>Equipo Visitante:</h2>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <% f.text_field :home_team_id,  value:@match.home_team_id, :readonly => true %>
                <%= @match.home_team.name %>
            </td>
            <td>
                <%= f.label :local_goals, "Goles " %>
                <%= f.select :local_goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15].map{ |c| [c, c] }, selected: @match.local_goals)  %>
            </td>

            <td>
                <% f.text_field :visit_team_id,  value:@match.visit_team_id, :readonly => true %>
                <%= @match.visit_team.name %>
            </td>
            <td>

                <%= f.label :visitor_goals, "Goles " %>
                <%= f.select :visitor_goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15].map{ |c| [c, c] }, selected: @match.visitor_goals)  %>
            </td>
        </tbody>
    </tr>
</table>

<br>
<div class="selections">
    <%= f.submit "Actualizar partido", class: 'btn btn-primary' %>
</div>
<% end %>

<h1>Rendimientos individuales</h1>

<% @performanceindex = 0 %>
<% [['Equipo Local', @match.home_team],['Equipo Visitante', @match.visit_team]].each do |team| %>
<h2><%= team[1].name %></h2>
<table>
    <thead>
        <tr>
            <th>Jugador</th>
            <th>Presente</th>
            <th>Goles</th>
            <th>Amarillas</th>
            <th>Roja</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% team[1].users.each do |user| %>
          <% @performanceindex += 1 %>
          <% if !user.matches.find_by_id(@match.id) %>
            <% @performance =Performance.new %>
          <% else %>
            <% @performance = user.performances.find_by(match_id: @match.id) %>
            <% end %>
              <%= render 'performances/form', performance: @performance, user: user, match: @match,  performanceindex: @performanceindex %>
          <% end %>
    </tbody>
</table>
<% end %>
