<p id="notice"><%= notice %></p>

<%divisions = Division.all%>


<h1>Partidos</h1>

<div class="tab">
<%default = true%>
<%clase = "tablinks defaultOpen"%>


<%divisions.each do |division|%>
<%a = "division"+ division.id.to_s + " tabcontent"%>

<button class="<%=clase%>" data-tab=<%=a%> ><%=division.name%></button>
<%if default%>
<%default = false%>
<%clase = "tablinks"%>

<%end%>
<%end%>
</div>




<%divisions.each do |division|%>

<%a = "division"+ division.id.to_s + " tabcontent"%>
<div class= "<%=a%>">
<%if division.tournaments.length == 0 %>

<h3>No hay torneos creados para esta división aún</h3>

<%end%>

<%division.tournaments.where(playoff: false).each do |tournament|%>

<h3><%=tournament.name%></h3>
<%if tournament.matches.length == 0 %>
<p>No se han creado partidos para este torneo</p>

<%end%>

<% matchday1 = 0 %>
<%tournament.matches.order(:datenum).each do |match|%>

<% if matchday1 != match.datenum %>
  <% matchday1 = match.datenum %>
  <h2>Jornada <%= match.datenum %></h2>
<% end %>
<div  data-match-id="<%= match.id %>">
<div class="panel-match">
  <div class="date">
    <%= match.datenum %>
    <%= match.date.day %>/<%= match.date.month %>/<%= match.date.year %>
    <%= match.time.hour%>:<%= match.time.min.to_s.rjust(2, '0')%> hrs
  </div>

  <div class="result">
    <%= Team.find_by_id(match.home_team_id).name %>
    <%= match.local_goals %> : <%= match.visitor_goals %>
    <%= Team.find_by_id(match.visit_team_id).name %>

    <div class="btns">
      <%= link_to 'Ir al partido', match, class: 'btn btn-primary' %>
      <% if is_admin_logged_in? %>
        <%= link_to 'Editar', edit_match_path(match), class: 'btn btn-primary' %>
        <%= link_to 'Eliminar', match, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      <% end  %>
    </div>
  </div>


</div>
</div>


<%end%>
<%end%>
</div>
<%end%>


<% if is_admin_logged_in? %>
  <%= link_to 'Nuevo Partido', new_match_path %>
<% end %>

</div>

</div>
