<p id="notice"><%= notice %></p>

<div class="table_head">

<h1 class="table_text">Partidos</h1>


</div>

<table class="tabla_pos">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Local</th>
      <th>    </th>
      <th>Visitante</th>
      <th>Goles Local</th>
      <th>Goles Visitante</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>

        <td><%= match.date %></td>
        <td><%= match.time.hour%>:<%= match.time.min.to_s.rjust(2, '0')%> hrs</td>
        <td><%= Team.find_by_id(match.home_team_id).name %></td>
        <td><strong>V/S</strong></td>
        <td><%= Team.find_by_id(match.visit_team_id).name %></td>

        <td><%= match.local_goals %></td>
        <td><%= match.visitor_goals %></td>
        <td><%= link_to 'Show', match %></td>
        <% if is_admin_logged_in? %>
          <td><%= link_to 'Edit', edit_match_path(match) %></td>
          <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if is_admin_logged_in? %>
  <%= link_to 'New Match', new_match_path %>


<% end %>
