<p id="notice"><%= notice %></p>

<h1>Partido:</h1>

<p>
  <strong>Visitante:</strong>
  <%= Team.find(@match.visit_team_id).name %>

</p>

<p>
  <strong>Torneo:</strong>
  <%= Tournament.find(@match.tournament_id).name %>

</p>

<p>
  <strong>Local:</strong>
  <%= Team.find(@match.home_team_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @match.time %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
