<p id="notice"><%= notice %></p>

<h1>Partido:</h1>

<p>
  <strong>Visitante:</strong>
  <%= Team.find(@match.visit_team_id).name %>

</p>

<p>
  <strong>Goles visita:</strong>
  <%=  @match.visitor_goals %>

</p>

<p>
  <strong>Torneo:</strong>
  <%= Tournament.find(@match.tournament_id).name %>

</p>

<p>
  <strong>Local:</strong>
  <%= Team.find(@match.home_team_id).name %>
</p>

<p>
  <strong>Goles local:</strong>
  <%=  @match.local_goals %>

</p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @match.time %>
</p>

<p><strong>Jugado:</strong></p>
<% if  @match.played  %>
    <p>Si</p>
  <% else %>
    <p>No</p>
  <% end %>

<% if is_admin_logged_in? %>
  <%= link_to 'Edit', edit_match_path(@match) %> |
<% end %>
<%= link_to 'Back', matches_path %>
