<p id="notice"><%= notice %></p>

<div class="match-info">
  <div  class="space1"></div>
  <div class="tournament">
    <h4><%= @match.tournament.name %></h4>
    <% if is_admin_logged_in? %>
      <%= link_to 'Editar', edit_match_path(@match), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div  class="space"></div>
  <div class="basic">
    <h4><%= @match.date.day %>/<%= @match.date.month %>/<%= @match.date.year %>
    <%= @match.time.hour%>:<%= @match.time.min.to_s.rjust(2, '0')%> hrs</h4>
    <% if  @match.played  %>
        <h4>Partido Jugado</h4>
      <% else %>
        <h4>Aún no se juega este partido</h4>
      <% end %>

      <div class="result">
        <h3><%= Team.find(@match.visit_team_id).name %></h3>
        <h1><%=  @match.visitor_goals %>:<%=  @match.local_goals %></h1>
        <h3><%= Team.find(@match.home_team_id).name %></h3>
    </div>
  </div>

</div>
