<p id="notice"><%= notice %></p>

<div class="post-wrapper">
  <div class="post">
    <h1><%= @post.name %></h1>
    <h3><%= @post.description %></h3>
    <h6>Publicado por <%= @post.user.full_name %></h6>

    <% if (logged_in? && post_belongs_to_user(@post)) || is_admin_logged_in?  %>
      <div class="btns">
        <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary' %>
        <%= link_to 'Eliminar', @post, method: :delete, data: { confirm: '¿Estás segur@?' }, class: 'btn btn-primary' %>
      </div>
    <% end %>


  </div>

  <h2>Comentarios</h2>
  <% if @post && @post.comments %>

    <% @post.comments.each do |comment| %>
      <div class="comments">
        <%= comment.content %>
        <div class="btns">
        <% if (logged_in? && (comment_belongs_to_user(comment) || post_belongs_to_user(@post))) || is_admin_logged_in?  %>
          <%= link_to 'Editar', edit_comment_path(comment), class: 'btn btn-primary' %>
          <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Estás segur@?' }, class: 'btn btn-primary' %>
        <% end %>
        </div>
        <h6>Por: <%= comment.user.full_name %><h6>
      </div>
    <% end %>
  <% end %>

  <% if logged_in? %>
    <%= form_for :comment, url: "/comments", method: "post", html: {class: "comment-form"}, remote: true do |f| %>
      <%= f.text_area :content, required: true %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit "Comentar", class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
