<% if @performance.user_id == nil %>
<% update = false %>
<% path = "/performances/create" %>
<% submt = 'Agregar al partido'  %>
<% else %>
<% update = true %>
<% path = "/performances/#{@performance.id}" %>
<% submt = 'Actualizar informaci贸n'  %>
<% end %>

<% if !update %>
<tr id="position<%= @performanceindex %>">
<% else %>
<tr id="<%= @performance.id %>">

<% end %>
<%= form_for @performance, url: path, remote: true, data: {performanceindex: @performanceindex} do |f| %>
<% if performance.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(performance.errors.count, "error") %>
        prohibited this performance from being saved:</h2>

    <ul>
        <% performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>


    <td class="name"><%= user.full_name %></td>

    <td class="played">
        <% if update %>
        <p>Jug贸
        </p>
    <% else %>
        <p>No jug贸</p>
        <% end %>
    </td>

    <td>
        <% f.label :goals, "Goles" %>
        <% if update == true%>
        <%= f.select :goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10].map{ |c| [c, c] }, selected: @performance.goals)  %>
    <% else %>
        <%= f.select :goals, options_for_select([0,1,2,3,4,5,6,7,8,9,10].map{ |c| [c, c] })  %>
        <% end %>
    </td>

    <td class='selection'>
        <% f.label :yellow_cards, "Tarjetas amarillas:" %>
        <% if update == true%>
        <%= f.select :yellow_cards, options_for_select([0,1,2].map{ |c| [c, c] }, selected: @performance.yellow_cards)%>
    <% else %>
        <%= f.select :yellow_cards, options_for_select([0,1,2].map{ |c| [c, c] })%>
        <% end %>
    </td>

    <td>
        <% f.label :red_cards, "Tarjetas roja:" %>
        <% if update == true%>
        <%= f.select :red_cards, options_for_select([0,1].map{ |c| [c, c] }, selected: @performance.red_cards)  %>
    <% else %>
        <%= f.select :red_cards, options_for_select([0,1].map{ |c| [c, c] })  %>
        <% end %>
    </td>

    <% if update %>
      <td><%= link_to 'Eliminar informaci贸n', performance_path(@performance, performanceindex: @performanceindex), class: 'btn btn-primary destroy-performance', method: :delete, remote: true %></td>
    <% else %>
      <td class='empty'></td>
    <% end %>

    <%= f.hidden_field :user_id, value: user.id %>
    <%= f.hidden_field :match_id, value: match.id %>
    <%= f.hidden_field :performanceindex, value: @performanceindex %>
    <td>
        <%= f.submit submt, class: 'btn btn-primary create-performance' %>
    </td>

  </tr>

<% end %>
