
if (!<%= @save %>) {
  alert('No pueden haber m치s goles por equipo que los ingresados!');
  $("#position<%= @performanceindex %>  #performance_goals").val('0');
  $("#position<%= @performanceindex %>  #performance_yellow_cards").val('0');
  $("#position<%= @performanceindex %>  #performance_red_cards").val('0');
} else {

  $("#position<%= @performanceindex %>").attr('id','<%= @performance.id %>');

  $form = $("#<%= @performance.id %> #new_performance");

  $form.attr('value','Actualizar informaci칩n');
  $form.attr('class','edit_performance');
  $form.attr('action',"/performances/<%= @performance.id%>");
  $form.attr('method','patch');
  $form.attr('id','edit_performance_<%= @performance.id%>');

  $("#<%= @performance.id %> .played").html('<p>Jug칩</p>');

  var dummy = '<input type="hidden" name="_method" value="patch">';
  $('#<%= @performance.id %> input[name=utf8]').after( dummy);

  var delte = '<a class="btn btn-primary destroy-performance" data-remote="true" data-method="delete" href="/performances/<%= @performance.id%>?performanceindex=<%= @performanceindex%>">Eliminar informaci칩n</a>'
  $('#<%= @performance.id %> .empty').append( delte);
  $('#<%= @performance.id %> .destroy-performance').show();
}
