$("#position<%= @performanceindex %>").attr('id','<%= @performance.id %>');

$form = $("#<%= @performance.id %> #new_performance");

$form.attr('value','Actualizar información');
$form.attr('class','edit_performance');
$form.attr('action',"/performances/<%= @performance.id%>");
$form.attr('method','patch');
$form.attr('id','edit_performance_<%= @performance.id%>');

$("#<%= @performance.id %> .played").html('<p>Jugó</p>');

var dummy = '<input type="hidden" name="_method" value="patch">';
$('#<%= @performance.id %> input[name=utf8]').after( dummy);

var delte = '<a class="btn btn-primary destroy-performance" data-remote="true" data-method="delete" href="/performances/<%= @performance.id%>?performanceindex=<%= @performanceindex%>">Eliminar información</a>'
$('#<%= @performance.id %> .empty').append( delte);
$('#<%= @performance.id %> .destroy-performance').show();
