<header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Foro", posts_path %></li>
  </ul>

  <ul>
    <% if !logged_in? %>
      <li><%= link_to "Log In", login_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    <% else %>
      <li><%= link_to 'Mi perfil', current_user %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <% end %>
  </ul>

</header>
