<!DOCTYPE html>
<html>
  <head>
    <title>LaLigaMC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div>
        <section id="top-bar">


        <section/>

      <div/>
     <nav id="main-menu">
       <%= link_to 'Home', matches_path %>
       <%= link_to 'Divisiones', divisions_path %>
       <%= link_to 'Fechas', matches_path %>
       <%= link_to 'Tabla', matches_path %>
       <%= link_to 'Equipos', teams_path %>
       <%= link_to 'Goleadores', matches_path %>
       <%= link_to 'Galería', pictures_path %>

     </nav>


   </header>
    <%= yield %>
    <footer>
      <hr>
      <div id="project">© LigaMC 2017 Powered by MCprod</div>

    </footer>
  </body>

</html>
