<!DOCTYPE html>
<html>
  <head>
    <title>LaLigaMC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render "layouts/header" %>

    <%= yield %>
    <footer>
      <hr>
      <div id="project">© LigaMC 2017 Powered by MCprod</div>

    </footer>
  </body>

</html>
